*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
	height: 100vh;
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
footer{
	color: #fff;
	position: absolute;
	top: 90%;
	left: 10%;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration:  none;
	color: red;
	padding: 5px 20px;
	border: 1px solid #fff transparent;
}
ul li a:hover{
	  background-color: #fff;
	  color: #000000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
p{
	color: white;
	align: left;
}

footer{
	top: 92%;
	left: auto;
	width:30ovh;
	text-align: left;
	background-color: #001f3f;
	color: white;
	padding: 20px;
}
